// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #272727;
  color: white;
}

a {
  text-decoration: none;
}

.logo {
  width: 160px;
  height: 60px;
  color: $cyan;
  border: 2px solid $cyan;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  position: relative;
  transition: all 0.2s;
  &:hover {
    color: white!important;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cyan;
    z-index: -1;
    opacity: 0;
    transition: all 0.8s;
  }
  &::after {
    content: "studio";
    position: absolute;
    font-size: 15px;
    letter-spacing: 1px;
    bottom: -80%;
    right: 0;
    background-color: transparent;
    z-index: -1;
    opacity: 1;
    transition: all 0.8s;
  }
  &:hover::before {
    opacity: 1;
    transform: rotate(15deg);
  }
  &:hover::after {
    opacity: 1;
    transform: translateX(-100%);
  }
  & span {
    color: transparent;
    position: relative;
    &::before {
      content: "A";
      position: absolute;
      color: $cyan;
      transition: all 0.2s;
    }
  }
}

.logo:hover span::before {
  color: white;
  font-size: 80px;
  transform: translate(-65%, -10%) rotate(360deg);
}

.presentation {
  position: relative;
  height: 100vh;
  margin-top: 1rem;
}

.presentation__photo {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 360px; 
  & img {
    width: 100%;   
    object-fit: cover;
  }
}

.presentation__description {
  margin-top: 6rem;
  text-shadow: 7px 4px 2px rgba(15, 12, 11, 0.73);
}

.btn-appoint {
  background-color: transparent;
  border: 2px solid $cyan;
  color: white;
  padding: 1rem 2rem;
  width: 260px;
  height: 60px;  
  text-align: center;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  &::before {
    content: 'Записаться на фотосессию';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover:before {
    transform: scale(1);
    opacity: 1;
  }
}
.main_name {
  margin-top: 2rem;
  color: $cyan;
  font-size: 4rem; 
  text-align: center;  
}

.main_quot {
  display: block; 
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5rem;
  padding-left: 10rem; 
}