// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #272727;
  color: white;
}

a {
  text-decoration: none;
}

.logo {
  width: 160px;
  height: 60px;
  color: $cyan;
  border: 2px solid $cyan;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  position: relative;
  transition: all 0.2s;
  &:hover {
    color: white!important;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cyan;
    z-index: -1;
    opacity: 0;
    transition: all 0.8s;
  }
  &::after {
    content: "studio";
    position: absolute;
    font-size: 15px;
    letter-spacing: 1px;
    bottom: -80%;
    right: 0;
    background-color: transparent;
    z-index: -1;
    opacity: 1;
    transition: all 0.8s;
  }
  &:hover::before {
    opacity: 1;
    transform: rotate(15deg);
  }
  &:hover::after {
    opacity: 1;
    transform: translateX(-100%);
  }
  & span {
    color: transparent;
    position: relative;
    &::before {
      content: "A";
      position: absolute;
      color: $cyan;
      transition: all 0.2s;
    }
  }
}

.logo:hover span::before {
  color: white;
  font-size: 80px;
  transform: translate(-65%, -10%) rotate(360deg);
}

.presentation {
  position: relative;
  height: 100vh;
  margin-top: 1rem;
}

.presentation__photo {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 360px; 
  & img {
    width: 100%;   
    object-fit: cover;
  }
}

.presentation__description {
  margin-top: 6rem;
  text-shadow: 7px 4px 2px rgba(15, 12, 11, 0.73);
}

.btn-appoint {
  background-color: transparent;
  border: 2px solid $cyan;
  color: white;
  padding: 1rem 2rem;
  width: 260px;
  height: 60px;  
  text-align: center;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  &::before {
    content: 'Записаться на фотосессию';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover:before {
    transform: scale(1);
    opacity: 1;
  }
}
.main_name {
  margin-top: 2rem;
  color: $cyan;
  font-size: 4rem; 
  text-align: center;  
}

.main_quot {
  display: block; 
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5rem;
  padding-left: 10rem; 
}

.theme-link {
  margin-top: 1rem;
  border: 1px solid #8E898A;
  padding: 0 8px;
  border-radius: 30px;
  margin-right: 0.7rem;
  & a {
    color: #8E898A;
    &:hover {
      color: white;
    }
  }
}

.contact {
  height: 100vh;
}

.phone-btn {
  background-color: $cyan-700;
  border: none;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 40px;  
  text-align: center;
  align-items: center;
  position: relative;
  transition: all 0.5s;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -5px;
    left: -5px;
    background-color: transparent;
    border-top: 2px solid $cyan-700;
    border-left: 2px solid $cyan-700;   
    transition: all 0.5s;
  }
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -5px;
    right: -5px;  
    border-bottom: 2px solid $cyan-700;
    border-right: 2px solid $cyan-700;
    transition: all 0.5s;
  }
  &:hover {
    color: white;
    &::before {
      width: 100%;
      height: 100%;
    }
    &::after {
      width: 100%;
      height: 100%;
    }
  }
}

.smm-icon{
  width: 50px;
  height: 50px;
  background: #272727;
  margin: 10px;
  border-radius: 30%;
  color: $cyan;
  box-shadow: 0 5px 15px -5px #00000070;
  position: relative;
  overflow: hidden;
}
.smm-icon i{
  line-height: 50px;
  padding-left: 27%;  
  font-size: 25px;
  transition: 0.2s;
}
.smm-icon:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.smm-icon::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: $cyan-700;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}
.smm-icon:hover::before{
  animation: animation 0.7s 1 forwards;
}
@keyframes animation {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 15%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

.info-phone {
color: $cyan;
}
